<beans:beans xmlns="http://www.springframework.org/schema/security"
xmlns:beans="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-3.0.xsd">


<http  create-session="never"  entry-point-ref="AutenticacionEntryPoint" session-fixation-protection="none" >
	<custom-filter position="AUTHENTICATION_PROCESSING_FILTER" ref="AutenticacionFiltro"/>
	<custom-filter position="CONCURRENT_SESSION_FILTER" ref="ConcurrentSessionFiltro"/>
	<intercept-url pattern="/login/" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
	<intercept-url pattern="/content/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
	<intercept-url pattern="/content/images/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
	<intercept-url pattern="/sistema/**" access="ROLE_ADMIN" />
	<custom-filter position="LOGOUT_FILTER" ref="LogoutFiltro"/>
</http>

<authentication-manager alias="authenticationManager" >
	<authentication-provider ref="ProveedorAutenticacion" >
	</authentication-provider>
</authentication-manager>

<beans:bean id="LogoutFiltro" class="cl.sigti.sigset.servicios.autenticacion.LogoutFiltro">
<beans:property name="sessionRegistry" ref="SessionRegistro"></beans:property>
</beans:bean>


<beans:bean id="ConcurrentSessionFiltro" class="cl.sigti.sigset.servicios.autenticacion.SessionControllerFiltro">
<beans:property name="sessionRegistry" ref="SessionRegistro"></beans:property>
</beans:bean>


<beans:bean id="SessionRegistro" class="org.springframework.security.authentication.concurrent.SessionRegistryImpl" scope="singleton" />

<beans:bean id="ProveedorAutenticacion" class="cl.sigti.sigset.servicios.autenticacion.ProveedorAutenticacion">
	<beans:property name="sessionRegistry" ref="SessionRegistro"></beans:property>
</beans:bean>
<beans:bean  id="AutenticacionFiltro" class="cl.sigti.sigset.servicios.autenticacion.AutenticacionFiltro" >
	<beans:property name="authenticationManager" ref="authenticationManager" /> 
</beans:bean>

<beans:bean id="AutenticacionEntryPoint" class="cl.sigti.sigset.servicios.autenticacion.AutenticacionEntryPoint" >
	<beans:property name="loginFormUrl" value="/login/" />
</beans:bean>


</beans:beans>
