<beans:beans xmlns="http://www.springframework.org/schema/security"
xmlns:beans="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-3.0.xsd">


<http  create-session="never" entry-point-ref="AutenticacionEntryPoint" session-fixation-protection="none" >
	<custom-filter position="AUTHENTICATION_PROCESSING_FILTER" ref="AutenticacionFiltro"/>
	<intercept-url pattern="/login/" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
	<intercept-url pattern="/content/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
	<intercept-url pattern="/content/images/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
	<intercept-url pattern="/sistema/**" access="ROLE_ADMIN" />
</http>

<authentication-manager alias="authenticationManager" >
	<authentication-provider ref="ProveedorAutenticacion" >
	</authentication-provider>
</authentication-manager>

<beans:bean id="ProveedorAutenticacion" class="cl.sigti.sigset.servicios.autenticacion.ProveedorAutenticacion" />
<beans:bean  id="AutenticacionFiltro" class="cl.sigti.sigset.servicios.autenticacion.AutenticacionFiltro" >
	<beans:property name="authenticationManager" ref="authenticationManager" /> 
</beans:bean>

<beans:bean id="AutenticacionEntryPoint" class="cl.sigti.sigset.servicios.autenticacion.AutenticacionEntryPoint" >
	<beans:property name="loginFormUrl" value="/login/" />
</beans:bean>


</beans:beans>
